pkgbase = solomd-bin
	pkgdesc = A lightweight Markdown and plain text editor built with Tauri 2
	pkgver = 1.1.0
	pkgrel = 1
	url = https://solomd.app
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = fuse2
	optdepends = wl-clipboard: clipboard image support on Wayland
	optdepends = xclip: clipboard image support on X11
	provides = solomd
	conflicts = solomd
	options = !strip
	options = !debug
	source = solomd-bin-1.1.0.AppImage::https://github.com/zhitongblog/solomd/releases/download/v1.1.0/SoloMD_1.1.0_amd64.AppImage
	source = solomd.desktop
	sha256sums = 5898424b376ef3b1cff2a95aa901d8d4c4baf0d95edab273f6412abcff2cc307
	sha256sums = SKIP

pkgname = solomd-bin
